.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .details h3 {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .html {
    margin-top: 40px;
  }
  .featured {
    margin-bottom: 40px;
  }