.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.markdowns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.markdowns h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
  font-size: 1.7em;
}
.markdowns p {
  color: #666;
  margin-top: 4px;
  font-size: 1em;
}